<!DOCTYPE html>
<html>
  <head>
    <title>Punfamm - Online News For The Enlightened!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", 
      # 'https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&display=swap',
      "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_page?(new_user_session_path) %>
      <%= yield %>
    <% elsif current_page?(new_user_registration_path) %>
      <%= yield %>
    <% else %>
      <%= render "layouts/header" %>
      <%= render 'shared/menu'  %>
      <%= render 'shared/profiledropdown'  %>
      <main class="container mx-auto screen-sm-md-padding">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </main>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
